.main-info {
    margin-top: 20px;
    padding: 2% 5%;
    border: 4px solid #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.info {
    padding: 2% 5%;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.title {
    font-size: 35px;
}

#name {
    font-size: 35px;
}

.how-to {
    font-size: 20px;
    padding-top: 10px;
}

.howto-aurebesh {
    margin: 6px 0;
    letter-spacing: 1px;
    font-family: aurebesh;
    font-size: 12px
}